<div id='weather' ng-app="weather">
    <md-button class="md-primary" ng-click="$ctrl.update();"> Get New Data </md-button>
    <md-list>
        <md-list-item class="md-primary" ng-repeat="activity in $ctrl.activities">
                <img class= "md-avatar" ng-src={{activity.icon}} alt='Open weather API logo'>
                <img class= "md-avatar" ng-src={{activity.object.contentImage.dimensions.normal.url}} alt={{activity.image}}>
                <div class="md-list-item-text" layout="column">
                    <div ng-date></div>
                    <h2>{{activity.object.location.displayName}} {{activity.title}}</h2>
                    <div class ='forecast'> 
                        <p>
                            <br>
                            {{activity.object.content}}  
                        </p>
                    </div>
                    <md-divider></md-divider>
                </div>
        </md-list-item>
    </md-list>
</div>


