<!doctype html>
<html>
  <head>
  <!-- Angular Material requires Angular.js Libraries -->
    <link rel="stylesheet" href="client/bower_components/angular-material/angular-material.css">
    <script src="client/bower_components/angular/angular.js"></script>
    <script src="client/bower_components/angular-aria/angular-aria.js"></script>
    <script src="client/bower_components/angular-animate/angular-animate.js"></script>
    <script src="client/bower_components/angular-material/angular-material.js"></script>
    <!-- Angular Material Library -->
    <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>
    
    <meta charset="utf-8">
    <title>Awesome Angular</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="./app/images/xing.png">
  </head>

  <body ng-app="app" ng-controller="AppController as vm">
    <div layout="column">
      <div flex>
        <weather class="weather">Loading...</weather>
      </div>
    </div>
    {{vm.hex}}
    <credits></credits>
<!--     <div>
      <md-button class="md-primary">I will be blue (by default)</md-button>
    </div>
    <md-button class="md-primary" ng-click="vm.acceptOffer(vm);"> Accept </md-button> -->
 <!--    <md-button class="md-raised md-accent">
      <span>dsa</span>
    </md-button>
    <article >
      <h2> in </h2>
      <ul ng-repeat="c in vm.customers">
        <li>{{c.name}}</li>
      </ul>
    </article> -->
  </body>
</html>
